<% if (site.posts.length){ %>
  <%
    var now = new Date();
    var currentYear = now.getFullYear();
    var cutoffYear = currentYear - 2;
    var groups = {};
    site.posts.each(function(post) {
      var year = post.date.year();
      var month = post.date.month() + 1;
      var key = year + '/' + (month < 10 ? '0' + month : month);
      if (!groups[key]) groups[key] = 0;
      groups[key]++;
    });
    var allKeys = Object.keys(groups).sort().reverse();
    var recentKeys = allKeys.filter(function(k) { return parseInt(k) >= cutoffYear; });
    var hasMore = recentKeys.length < allKeys.length;
  %>
  <div class="widget-wrap">
    <h3 class="widget-title"><a href="<%= url_for('/archives') %>"><%= __('archive_a') %></a></h3>
    <div class="widget">
      <ul class="archive-list">
        <% recentKeys.forEach(function(k) { %>
          <li class="archive-list-item">
            <a class="archive-list-link" href="<%= url_for('/archives/' + k + '/') %>"><%= k %></a>
            <% if (theme.show_count) { %><span class="archive-list-count"><%= groups[k] %></span><% } %>
          </li>
        <% }); %>
      </ul>
      <% if (hasMore) { %>
        <a href="<%= url_for('/archives') %>" class="archive-more-link">もっと見る</a>
      <% } %>
    </div>
  </div>
<% } %>
